@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat');

:root{
    --cor-primaria: #2c3639;
    --cor-secundaria: #dcd7c9;
    --cor-terciaria: #a27b5c;
    --cor-hover: #3f4e4f;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}